{% extends '::layout.html.twig' %}
{% block title %}
{{ "chambre.liste"|trans }}
{% endblock %}


{% block content %}
    {% for flashMessage in app.session.flashbag.get('message') %}
<div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}
    <table border="1">
        <caption>{{ "chambre.liste"|trans|upper }}</caption>

        <tr>
            <th>N°</th>
            <th>{{ "chambre.etage"|trans }}</th>
            <th>{{ "chambre.litbebe"|trans }}</th>
            <th>{{ "modele.label"|trans }}</th>
            <th>{{ "calendrier.disponibilites"|trans }}</th>
{% if is_granted('ROLE_EMPLOYE') %}

            <th colspan="2">Options</th>
            {% endif %}
        </tr>
            {% for cha in chambres %}
        <tr>
            <td>{{cha.id}}</td>
            <td>{{cha.etage}}</td>
            <td>{{cha.litbebe}}</td>
            <td>{{cha.modele.id}}</td>
            <td>
            {% if cha.disponibilites is empty %}
                {{'calendrier.aucun'|trans}}
                {% else %}

                    <select>
                     {% for dispo in cha.disponibilites %}
                            <option value="{{dispo.id}}">{{dispo.datej|date('d/m/Y')}}</option> 
                {% endfor %}
                        </select>
                   
          {% endif %}
            </td>
            {% if is_granted('ROLE_EMPLOYE') %}

                    <td>    <p><a href=" {{path('hotel_chambre_editer',{'id' : cha.id})}}">{{"modifier"|trans}}</a></p></td>

                    <td>    <p><a href=" {{path('hotel_chambre_supprimer',{'id' : cha.id})}}">{{"supprimer"|trans}}</a></p></td>
            {% endif %}

                </tr>
    {% else %}
                <tr>
                    <td colspan="6" style="background-color:#FF0000">{{"chambre.aucun" |trans}}</td>

                </tr>
        {% endfor %}
            </table>
            {% if is_granted('ROLE_EMPLOYE') %}

            <p><a href=" {{path('hotel_chambre_ajouter')}}">{{"chambre.ajouter"|trans}}</a></p>
                        {% endif %}

{% endblock %}