{% extends '::layout.html.twig' %}
{% block title %}
{{ "chambre.liste"|trans }}
{% endblock %}


{% block content %}
    {% for flashMessage in app.session.flashbag.get('message') %}
<div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}
            {% if is_granted('ROLE_EMPLOYE') %}

                <p><a class="btn btn-inverse pull-right" href=" {{path('hotel_chambre_ajouter')}}">{{"chambre.ajouter"|trans}} <i class="icon-forward icon-white"></i></a></p>
                        {% endif %}
    <table class=" table table-bordered table-condensed table-striped">

        <caption>{{ "chambre.liste"|trans }}</caption>
        <thead>

            <tr>
                <th>N°</th>
                <th>{{ "chambre.etage"|trans }}</th>
                <th>{{ "chambre.litbebe"|trans }}</th>
                <th>{{ "modele.label"|trans }}</th>
                <th>{{ "calendrier.disponibilites"|trans }}</th>
{% if is_granted('ROLE_EMPLOYE') %}

                <th colspan="2">Options</th>
            {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for cha in chambres %}
                <tr>
                    <td>{{cha.id}}</td>
                    <td><span class="badge">{{cha.etage}}</span></td>
                          {% if cha.litbebe == 1 %}
                    <td><i class="icon-ok"></i></td>
                {% else %}
                    <td><i class="icon-remove"></i></td>
                 {% endif %}
                    <td><span class="badge">{{cha.modele.id}}</span></td>
                    <td>
            {% if cha.disponibilites is empty %}
                            <span class="badge"> {{'calendrier.aucun'|trans}}</span>
                {% else %}

                            <select>
                     {% for dispo in cha.disponibilites %}
                                    <option value="{{dispo.id}}">{{dispo.datej|date('d/m/Y')}}</option> 
                {% endfor %}
                                </select>

          {% endif %}
                            </td>
            {% if is_granted('ROLE_EMPLOYE') %}

                            <td>    <p><a class="btn btn-primary btn-small" href=" {{path('hotel_chambre_editer',{'id' : cha.id})}}">{{"modifier"|trans}}</a></p></td>

                            <td>    <p><a class="btn btn-warning btn-small" href=" {{path('hotel_chambre_supprimer',{'id' : cha.id})}}">{{"supprimer"|trans}}</a></p></td>
            {% endif %}

                        </tr>
    {% else %}
                        <tr>
                            <td colspan="6" style="background-color:#FF0000">{{"chambre.aucun" |trans}}</td>

                        </tr>
        {% endfor %}
                    </tbody>

                </table>
  <div class="pagination pagination-centered">
    <ul>
      {% for p in range(1, nombrePage) %}
        <li{% if p == page %} class="active"{% endif %}>
          <a href="{{ path('hotel_chambre_lister', {'page': p}) }}">{{ p }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>


{% endblock %}