{% extends '::layout.html.twig' %}
{% block title %}
{{ typeAction }}
{% endblock %}
{% block content %}  
 {% if form is defined %}
<div class="erreur">
                        {{form_errors(form)}}
    </div>
    <form class="form-vertical well" action ="" method="post" {{form_enctype(form)}}>
        <legend>{{typeAction}}</legend>
        <div class="control-group">
            <label class="control-label">{{ form_label(form.couleur) }}</label>
            <div class="controls">

               {{ form_errors(form.couleur) }} 
                             {{ form_widget(form.couleur) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ form_label(form.prixlitbebe) }}</label>
            <div class="controls">
                        {{ form_errors(form.prixlitbebe) }} 
                             {{ form_widget(form.prixlitbebe) }}
                </div>
            </div>        











               {{ form_rest(form) }} 
{#fonction obligatoire, va permettre d'ajouter les champs qui n'ont pas été renseigné plus haut#}
            <input class= "btn btn-inverse" type="submit" value="{{'enregistrer'|trans}}"/>

        </form>
            {% endif %}
        <p><a href=" {{path('hotel_tarif_lister')}}">{{"tarif.liste.retour"|trans}}</a></p>
 {% endblock %}