{% extends '::layout.html.twig' %}
{% block title %}
{{ "tarif.liste"|trans }}
{% endblock %}


{% block content %}
    {% for flashMessage in app.session.flashbag.get('message') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}
                                             {% if is_granted('ROLE_EMPLOYE') %}

    <p><a class="btn btn-inverse pull-right" href=" {{path('hotel_tarif_ajouter')}}">{{"tarif.ajouter"|trans}} <i class="icon-forward icon-white"></i></a></p>
                        {% endif %}
     <table class="table table-bordered table-condensed table-striped">
        <caption>{{ "tarif.liste"|trans }}</caption>
        <thead>

        <tr>
            <th>ID</th>
            <th>{{ "tarif.couleur"|trans }}</th>
            <th>{{ "tarif.bebe"|trans }}</th>
                                                         {% if is_granted('ROLE_EMPLOYE') %}

            <th colspan="2">Options</th>
                                {% endif %}

        </tr>
          </thead>
                  <tbody>

            {% for tar in tarifs %}
        <tr>
            <td>{{tar.id}}</td>
            <td><span class="badge">{{tar.couleur}}</span></td>
            <td><span class="badge">{{tar.prixlitbebe}}</span></td>
                                                         {% if is_granted('ROLE_EMPLOYE') %}

            <td>    <p><a class="btn btn-primary btn-small" href=" {{path('hotel_tarif_editer',{'id' : tar.id})}}">{{"modifier"|trans}}</a></p></td>
            
           <td>    <p><a class="btn btn-warning btn-small" href=" {{path('hotel_tarif_supprimer',{'id' : tar.id})}}">{{"supprimer"|trans}}</a></p></td>
                    {% endif %}

        </tr>
    {% else %}
        <tr>
            <td colspan="5" style="background-color:#FF0000">{{"tarif.aucun" |trans}}</td>

        </tr>
        {% endfor %}
                </tbody>

    </table>


{% endblock %}