{% extends '::layout.html.twig' %}
{% block title %}
{{ typeAction }}
{% endblock %}
{% block content %}  
            {% if form is defined %}
        <div class="erreur">
                        {{form_errors(form)}}
            </div>
<form class="form-vertical well" action ="" method="post" {{form_enctype(form)}}>
        <legend>{{typeAction}}</legend>
        <div class="control-group">
            <label class="control-label">{{ form_label(form.modele) }}</label>
            <div class="controls">
        {{ form_errors(form.modele) }} 
                             {{ form_widget(form.modele) }} 
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ form_label(form.tarif) }}</label>
            <div class="controls">
         {{ form_errors(form.tarif) }} 
                             {{ form_widget(form.tarif) }}
            </div>
        </div>      
        <div class="control-group">
            <label class="control-label">{{ form_label(form.prix) }}</label>
            <div class="controls">
       {{ form_errors(form.prix) }} 
                             {{ form_widget(form.prix) }}
            </div>
        </div>                 
                     
                     
                     


             
             
             
                   
                    
                        
                     
                     
                         
                         
                               
                         
                      
               {{ form_rest(form) }} 
{#fonction obligatoire, va permettre d'ajouter les champs qui n'ont pas été renseigné plus haut#}
                        <input class="btn btn-inverse" type="submit" value="{{'enregistrer'|trans}}"/>

                    </form>
            {% endif %}
                    <p><a href=" {{path('hotel_prix_lister')}}">{{"prix.liste.retour"|trans}}</a></p>
 {% endblock %}