{% extends '::layout.html.twig' %}
{% block title %}
{{ "prix.liste"|trans }}
{% endblock %}


{% block content %}

                        {% if is_granted('ROLE_EMPLOYE') %}

    <p><a class="btn btn-inverse pull-right" href=" {{path('hotel_prix_ajouter')}}">{{"prix.ajouter"|trans}} <i class="icon-forward icon-white"></i></a></p>
                    {% endif %}
       <table class="table table-bordered table-condensed table-hover">

        <caption>{{ "prix.liste"|trans|upper }}</caption>
        <thead>

        <tr>
         
            <th>{{ "modele.label"|trans }}</th>
            <th>{{ "tarif.label"|trans }}</th>
            <th>{{ "prix.label"|trans }}</th>
                                    {% if is_granted('ROLE_EMPLOYE') %}

            <th colspan="2">Options</th>
                            {% endif %}

        </tr>
                </thead>
                <tbody>
            {% for pr in prices %}
        <tr>
            <td><span class="badge">{{pr.modele.id}}</span></td>
            <td><span class="badge">{{pr.tarif.couleur}}</span></td>
            <td><span class="badge">{{pr.prix}}</span></td>
                                    {% if is_granted('ROLE_EMPLOYE') %}

            <td>    <p><a class="btn btn-primary btn-small" href=" {{path('hotel_prix_editer',
                {'idmodele' : pr.modele.id,'idtarif' : pr.tarif.id})}}">{{"modifier"|trans}}
                        </a></p>
              </td>
            
           <td>    <p><a class="btn btn-warning btn-small" href=" {{path('hotel_prix_supprimer',
                {'idmodele' : pr.modele.id,'idtarif' : pr.tarif.id})}}">
                {{"supprimer"|trans}}</a></p></td>
                {% endif %}

        </tr>
    {% else %}
        <tr>
            <td colspan="5" style="background-color:#FF0000">{{"prix.aucun" |trans}}</td>

        </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}