{% extends '::layout.html.twig' %}
{% block title %}
{{ "client.liste"|trans }}
{% endblock %}


{% block content %}
    {% for flashMessage in app.session.flashbag.get('message') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}
    <table border="1">
        <caption>{{ "client.liste"|trans|upper }}</caption>

        <tr>
         
            <th>{{ "client.nom"|trans }}</th>
            <th>{{ "client.prenom"|trans }}</th>
            <th>{{ "client.adresse"|trans }}</th>
            <th>{{ "client.npostal"|trans }}</th>
            <th>{{ "client.localite"|trans }}</th>
            <th>{{ "username"|trans }}</th>
            <th>{{ "email"|trans }}</th>


            <th colspan="2">Options</th>
        </tr>
            {% for cli in clients %}
        <tr>
            <td>{{cli.nom}}</td>
            <td>{{cli.prenom}}</td>
            <td>{{cli.adresse}}</td>
            <td>{{cli.npostal}}</td>
            <td>{{cli.localite}}</td>
            <td>{{cli.user.username}}</td>
            <td>{{cli.user.email}}</td>

        </tr>
    {% else %}
        <tr>
            <td colspan="8" style="background-color:#FF0000">{{"client.aucun" |trans}}</td>

        </tr>
        {% endfor %}
    </table>
    <p><a href=" {{path('hotel_client_inscription')}}">{{"client.inscription"|trans}}</a></p>
{% endblock %}