{% extends '::layout.html.twig' %}
{% block title %}
{{ typeAction }}
{% endblock %}
{% block content %}  
                                    

            {% if form is defined %}
        <div class="erreur">
                        {{form_errors(form)}}
            </div>
<form class="form-vertical well" action ="" method="post" {{form_enctype(form)}}>
   <legend>{{typeAction}}</legend>
<div class="control-group">
    <label class="control-label">{{ form_label(form.bain) }}</label>
    <div class="controls">
        
         {{ form_errors(form.bain) }}  
         {{ form_widget(form.bain) }} 
    </div>
</div>
<div class="control-group">
    <label class="control-label">{{ form_label(form.douche) }}</label>
    <div class="controls">
      {{ form_errors(form.douche) }}  
      {{ form_widget(form.douche) }} 
    </div>
</div>            
<div class="control-group">
    <label class="control-label">{{ form_label(form.wc) }}</label>
    <div class="controls">
                           {{ form_errors(form.wc) }}  
                         {{ form_widget(form.wc) }} 
    </div>
</div>                      
  <div class="control-group">
    <label class="control-label">{{ form_label(form.nbrelit2) }}</label>
    <div class="controls">
                               {{ form_errors(form.nbrelit2) }}  
                         {{ form_widget(form.nbrelit2) }} 
    </div>
</div>                       
    <div class="control-group">
    <label class="control-label">{{ form_label(form.nbrelit1) }} </label>
    <div class="controls">
                         {{ form_errors(form.nbrelit1) }}  
                         {{ form_widget(form.nbrelit1) }} 
    </div>
</div>                    
                   
                    

                
               
                    
                      
                
                   
                  

                   
                    
                 

                

               
               {{ form_rest(form) }} 
{#fonction obligatoire, va permettre d'ajouter les champs qui n'ont pas été renseigné plus haut#}
        <input class="btn btn-inverse" type="submit" value="{{'enregistrer'|trans}}"/>

                        </form>
            {% endif %}
                        <p><a href=" {{path('hotel_modele_lister')}}">{{"modele.liste.retour"|trans}}</a></p>
 {% endblock %}