{% extends '::layout.html.twig' %}
{% block title %}
{{ typeAction }}
{% endblock %}
{% block content %}  
                                    

            {% if form is defined %}
        <div class="erreur">
                        {{form_errors(form)}}
            </div>
<form class="form-vertical well" action ="" method="post" {{form_enctype(form)}}>
   <legend>{{typeAction}}</legend>
   <label class="checkbox">
   {{ form_widget(form.bain) }} 
  {{ form_label(form.bain) }}
               {{ form_errors(form.bain) }}  
</label>
   <label class="checkbox">
  {{ form_widget(form.douche) }} 
 {{ form_label(form.douche) }}
               {{ form_errors(form.douche) }}  
</label>
  <label class="checkbox">
         {{ form_widget(form.wc) }} 
 {{ form_label(form.wc) }}
                 {{ form_errors(form.wc) }}  
</label>        
                      
  <div class="control-group">
    <label class="control-label">{{ form_label(form.nbrelit2) }}</label>
    <div class="controls">
                               {{ form_errors(form.nbrelit2) }}  
                         {{ form_widget(form.nbrelit2) }} 
    </div>
</div>                       
    <div class="control-group">
    <label class="control-label">{{ form_label(form.nbrelit1) }} </label>
    <div class="controls">
                         {{ form_errors(form.nbrelit1) }}  
                         {{ form_widget(form.nbrelit1) }} 
    </div>
</div>                    
                   
                    

                
               
                    
                      
                
                   
                  

                   
                    
                 

                

               
               {{ form_rest(form) }} 
{#fonction obligatoire, va permettre d'ajouter les champs qui n'ont pas été renseigné plus haut#}
        <input class="btn btn-inverse" type="submit" value="{{'enregistrer'|trans}}"/>

                        </form>
            {% endif %}
                        <p><a href=" {{path('hotel_modele_lister')}}">{{"modele.liste.retour"|trans}}</a></p>
 {% endblock %}