{% extends '::layout.html.twig' %}
{% block title %}
{{ "modele.liste"|trans }}

{% endblock %}


{% block content %}






    {% for flashMessage in app.session.flashbag.get('message') %}
<div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}
    <table class="table table-bordered table-condensed table-striped">
        <caption>{{ "modele.liste"|trans }}</caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>{{ "modele.bain"|trans }}</th>
                <th>{{ "modele.douche"|trans }}</th>
                <th>{{ "modele.wc"|trans }}</th>
                <th>{{ "modele.nbrelit2"|trans }}</th>
                <th>{{ "modele.nbrelit1"|trans }}</th>
            {% if is_granted('ROLE_EMPLOYE') %}

                <th colspan="2">Options</th>
            {% endif %}

            </tr>
        </thead>
        <tbody>
            {% for mod in modeles %}
                <tr>
                <td>{{mod.id}}</td>
                {% if mod.bain == 1 %}
                    <td><i class="icon-ok"></i></td>
                {% else %}
                    <td><i class="icon-remove"></i></td>
                 {% endif %}
                {% if mod.douche == 1 %}
                    <td><i class="icon-ok"></i></td>
                {% else %}
                    <td><i class="icon-remove"></i></td>
                 {% endif %}
        {% if mod.wc == 1 %}
                    <td><i class="icon-ok"></i></td>
                {% else %}
                    <td><i class="icon-remove"></i></td>
                 {% endif %}
                    <td><span class="badge">{{mod.nbrelit2}}</span></td>
                    <td><span class="badge">{{mod.nbrelit1}}</span></td>
                        {% if is_granted('ROLE_EMPLOYE') %}

                    <td>    <p><a class="btn btn-primary btn-small" href=" {{path('hotel_modele_editer',{'id' : mod.id})}}">{{"modifier"|trans}}</a></p></td>

                    <td>    <p><a class="btn btn-warning btn-small" href=" {{path('hotel_modele_supprimer',{'id' : mod.id})}}">{{"supprimer"|trans}}</a></p></td>
            {% endif %}

                </tr>
    {% else %}
                <tr>
                    <td colspan="8" style="background-color:#FF0000">{{"modele.aucun" |trans}}</td>

                </tr>
        {% endfor %}
            </tbody>
        </table>
                        {% if is_granted('ROLE_EMPLOYE') %}

        <p><a class="btn btn-danger" href=" {{path('hotel_modele_ajouter')}}">{{"modele.ajouter"|trans}}<i class="icon-forward icon-white"></i></a></p>
                {% endif %}

{% endblock %}