{% extends '::layout.html.twig' %}
{% block title %}
{{ typeAction }}
{% endblock %}
{% block content %}  
<p>{{typeAction}}</p>
            {% if form is defined %}
<form action ="" method="post" {{form_enctype(form)}}>
                {{form_widget(form)}}   {#-> version courte #}

                        <input type="submit" value="{{'enregistrer'|trans}}"/>

                    </form>
            {% endif %}
                    <p><a href=" {{path('hotel_reservation_lister')}}">{{"resa.liste.retour"|trans}}</a></p>
 {% endblock %}