{% extends '::layout.html.twig' %}
{% block title %}
{{ typeAction }}
{% endblock %}
{% block content %}  
            {% if form is defined %}
<form class="form-vertical well" action ="" method="post" {{form_enctype(form)}}>
            <legend>{{typeAction}}</legend>
                {{form_widget(form)}}   {#-> version courte , fénéantise style#}

                        <input class="btn btn-inverse" type="submit" value="{{'enregistrer'|trans}}"/>

                    </form>
            {% endif %}
                    <p><a  href=" {{path('hotel_reservation_lister')}}">{{"resa.liste.retour"|trans}}</a></p>
 {% endblock %}