{% extends '::layout.html.twig' %}
{% block title %}
{{ "resa.liste"|trans }}
{% endblock %}


{% block content %}
    {% for flashMessage in app.session.flashbag.get('message') %}
<div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}
    <table border="1">
        <caption>{{ "resa.liste"|trans|upper }}</caption>

        <tr>

            <th>{{'resa.numero'|trans }}</th>
            <th>{{'resa.date_arrivee'|trans }}</th>
            <th>{{'resa.date_depart'|trans }}</th>
            <th>{{'resa.prix_total'|trans }}</th>
            <th>{{'resa.nbre_bebe'|trans }}</th>
            <th>{{'resa.accompte'|trans }}</th>
            <th>{{'resa.date_limite'|trans }}</th>
            <th>{{'resa.date_versement'|trans }}</th>   
            <th>{{'resa_date_resa'|trans }}</th> 
            <th>{{'client.label'|trans }}</th> 
            <th>{{'chambre.label'|trans }}</th> 

                        {% if is_granted('ROLE_EMPLOYE') %}

            <th colspan="2">Options</th>
                                {% endif %}

        </tr>
            {% for res in reservations %}
        
        <tr>
            <td>{{res.id}}</td>
            <td>{{res.datearrivee|date('d/m/Y')}}</td>
            <td>{{res.datedepart|date('d/m/Y')}}</td>
            <td>{{res.prixtotal}}</td>
            <td>{{res.nbrebebe}}</td>
            <td>{{res.acomptedemande}}</td>
            <td>{{res.datelimiteacompte|date('d/m/Y')}}</td>
            <td>{{res.dateversementacompte|date('d/m/Y')}}</td>
            <td>{{res.datereservation|date('d/m/Y')}}</td>
            <td>{{res.client.username}}</td> 
            <td> <select>
                {% for ch in res.chambres %}
                            <option>{{ch.numeroetage}}</option>
                 {% endfor %}
                        </select></td>
              
                                             {% if is_granted('ROLE_EMPLOYE') %}

                    <td>    
                        <p><a href=" {{path('hotel_reservation_editer',
                {'id' : res.id})}}">{{"modifier"|trans}}
                                  </a></p>
                            </td>

                            <td>    <p><a href=" {{path('hotel_reservation_supprimer',
                {'id': res.id})}}">
                {{"supprimer"|trans}}</a></p></td>
                                                      {% endif %}


                                    </tr>
    {% else %}
                                    <tr>
                                        <td colspan="11" style="background-color:#FF0000">{{"resa.aucun" |trans}}</td>

                                    </tr>
        {% endfor %}
                                </table> 
  <div class="pagination">
    <ul>
      {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
      {% for p in range(1, nombrePage) %}
        <li{% if p == page %} class="active"{% endif %}>
            {% if all %}
          <a href="{{ path('hotel_reservation_lister', {'page': p}) }}">{{ p }}</a>
          {% else %}
                    <a href="{{ path('hotel_reservation_lister_client', {'page': p}) }}">{{ p }}</a>
{% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% if is_granted('ROLE_EMPLOYE') %}


                                <p><a href=" {{path('hotel_reservation_ajouter')}}">{{"resa.ajouter"|trans}}</a></p>
                                                  {% endif %}

{% endblock %}