{% extends '::layout.html.twig' %}
{% block title %}
{{ "resa.liste"|trans }}
{% endblock %}


{% block content %}

{% if is_granted('ROLE_EMPLOYE') %}


                                <p><a class="btn btn-inverse pull-right" href=" {{path('hotel_reservation_ajouter')}}">{{"resa.ajouter"|trans}}<i class="icon-forward icon-white"></i></a></p>
                                                  {% endif %}
           <table class="table table-bordered table-condensed table-striped">

        <caption>{{ "resa.liste"|trans }}</caption>
        <thead>

        <tr>

            <th>{{'resa.numero'|trans }}</th>
            <th>{{'resa.date_arrivee'|trans }}</th>
            <th>{{'resa.date_depart'|trans }}</th>
            <th>{{'resa.prix_total'|trans }}</th>
            <th>{{'resa.nbre_bebe'|trans }}</th>
            <th>{{'resa.accompte'|trans }}</th>
            <th>{{'resa.date_limite'|trans }}</th>
            <th>{{'resa.date_versement'|trans }}</th>   
            <th>{{'resa_date_resa'|trans }}</th> 
            <th>{{'client.label'|trans }}</th> 
         

                        {% if is_granted('ROLE_EMPLOYE') %}

            <th colspan="2">Options</th>
                                {% endif %}

        </tr>
                     </thead>
        <tbody>
            {% for res in reservations %}
        
        <tr>
            <td>{{res.id}}</td>
            <td><span class="badge">{{res.datearrivee|date('d/m/Y')}}</span></td>
            <td><span class="badge">{{res.datedepart|date('d/m/Y')}}</span></td>
            <td><span class="badge badge-warning">{{res.prixtotal}}</span></td>
            <td><span class="badge">{{res.nbrebebe}}</span></td>
            <td><span class="badge">{{res.acomptedemande}}</span></td>
            <td><span class="badge">{{res.datelimiteacompte|date('d/m/Y')}}</span></td>
            <td><span class="badge">{{res.dateversementacompte|date('d/m/Y')}}</span></td>
            <td><span class="badge">{{res.datereservation|date('d/m/Y')}}</span></td>
            <td><span class="badge">{{res.client.username}}</span></td> 
            <td> 

              
                                             {% if is_granted('ROLE_EMPLOYE') %}

                    <td>    
                        <p><a class="btn btn-primary btn-small" href=" {{path('hotel_reservation_editer',
                {'id' : res.id})}}">{{"modifier"|trans}}
                                  </a></p>
                            </td>

                            <td>    <p><a class="btn btn-warning btn-small" href=" {{path('hotel_reservation_supprimer',
                {'id': res.id})}}">
                {{"supprimer"|trans}}</a></p></td>
                                                      {% endif %}


                                    </tr>
                                    
    {% else %}
                                    <tr>
                                        <td colspan="10" style="background-color:#FF0000">{{"resa.aucun" |trans}}</td>

                                    </tr>
        {% endfor %}
                                                                        </tbody>

                                </table> 
                                {% if reservations|length > 0 %}
  <div class="pagination pagination-centered">
    <ul>
      {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
      {% for p in range(1, nombrePage) %}
        <li{% if p == page %} class="active"{% endif %}>
            {% if all %}
          <a href="{{ path('hotel_reservation_lister', {'page': p}) }}">{{ p }}</a>
          {% else %}
                    <a href="{{ path('hotel_reservation_lister_client', {'page': p}) }}">{{ p }}</a>
{% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

{% endblock %}