{% extends '::layout.html.twig' %}
{% block title %}
{{ typeAction }}
{% endblock %}
{% block content %}  
            {% if form is defined %}
        <div class="erreur">
                        {{form_errors(form)}}
            </div>
<form class="form-vertical well" action ="" method="post" {{form_enctype(form)}}>
          <legend>{{typeAction}}</legend>
            
        <div class="control-group">
            <label class="control-label">{{ form_label(form.datej) }}</label>
            <div class="controls">
                            {{ form_errors(form.datej) }}  
                             {{ form_widget(form.datej) }} 
                </div>
            </div>
         <div class="control-group">
            <label class="control-label">{{ form_label(form.tarif) }}</label>
            <div class="controls">
{{ form_errors(form.tarif) }} 
                             {{ form_widget(form.tarif) }}
                </div>
            </div>     
           <div class="control-group">
            <label class="control-label">{{ form_label(form.nbrelitbebe) }}</label>
            <div class="controls">
              {{ form_errors(form.nbrelitbebe) }} 
                             {{ form_widget(form.nbrelitbebe) }}
                </div>
            </div>     
                              
                     
                   
                     

                 





               {{ form_rest(form) }} 

                        <input class="btn btn-inverse" type="submit" value="{{'enregistrer'|trans}}"/>

                    </form>
            {% endif %}
                    <p><a href=" {{path('hotel_calendrier_lister')}}">{{"calendrier.liste.retour"|trans}}</a></p>
 {% endblock %}