{% extends '::layout.html.twig' %}
{% block title %}
{{ "calendrier.liste"|trans }}
{% endblock %}


{% block content %}
    {% for flashMessage in app.session.flashbag.get('message') %}
<div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}
    <table border="1">
        <caption>{{ "calendrier.liste"|trans|upper }}</caption>

        <tr>

            <th>{{ "calendrier.datej"|trans }}</th>
            <th>{{ "tarif.couleur"|trans }}</th>
            <th>{{ "calendrier.nbredispo"|trans }}</th>
            <th>{{ "chambre.disponibilites"|trans }}</th>
            <th>{{ "calendrier.nbrelitbebe"|trans }}</th>

{% if is_granted('ROLE_EMPLOYE') %}
            <th colspan="2">Options</th>
    {% endif %}        
        </tr>
            {% for cal in calendriers %}
        <tr>
            <td>{{cal.datej|date('d/m/Y')}}</td>
            <td>{{cal.tarif.couleur}}</td>
            <td>{{cal.chambres|length}}</td>
            <td>
             {% if cal.chambres is empty %}
                {{'chambre.aucun'|trans}}
                {% else %}

                    <select>
                     {% for dispo in cal.chambres %}
                            <option value="{{dispo.id}}">{{'chambre.etagenumero'|trans({'%etage%':dispo.etage, '%numero%':dispo.id})}}</option> 
                {% endfor %}
                        </select>

          {% endif %}</td>
                            <td>{{cal.nbrelitbebe}}</td>

                {% if is_granted('ROLE_EMPLOYE') %}

                    <td>    <p><a href=" {{path('hotel_calendrier_editer',{'id' : cal.id})}}">{{"modifier"|trans}}</a></p></td>

                    <td>    <p><a href=" {{path('hotel_calendrier_supprimer',{'id' : cal.id})}}">{{"supprimer"|trans}}</a></p></td>
    {% endif %}        

                </tr>
    {% else %}
                <tr>
                    <td colspan="7" style="background-color:#FF0000">{{"calendrier.aucun" |trans}}</td>

                </tr>
        {% endfor %}
            </table>
  <div class="pagination pagination-centered">
    <ul>
      {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
      {% for p in range(1, nombrePage) %}
        <li{% if p == page %} class="active"{% endif %}>
          <a href="{{ path('hotel_calendrier_lister', {'page': p}) }}">{{ p }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% if is_granted('ROLE_EMPLOYE') %}

            <p><a href=" {{path('hotel_calendrier_ajouter')}}">{{"calendrier.ajouter"|trans}}</a></p>
    {% endif  %}
{% endblock %}