{% extends '::layout.html.twig' %}
{% block title %}  {{'admin.label'|trans}}
{% endblock %}
{% block menu %}
{{ parent() }}
{% if is_granted('ROLE_SUPER_ADMIN') %}

<li><a href=" {{path('hotel_admin_lister')}}">{{'user.liste'|trans}}</a></li>
<li><a href=" {{path('hotel_admin_lister_role',{'role' :'client'})}}">{{'client.liste'|trans}}</a></li>
<li><a href=" {{path('hotel_admin_lister_role',{'role' :'employe'})}}">{{'employe.liste'|trans}}</a></li>

{% endif %}


   {% endblock  %}
    {% block content %}

        {% for flashMessage in app.session.flashbag.get('message') %}
<div>
        {{ flashMessage }}
    </div>
{% endfor %}

       {% endblock  %}
