    {% for flashMessage in app.session.flashbag.get('message') %}
<div>
        {{ flashMessage }}
    </div>
{% endfor %}

           <table class="table table-bordered table-striped">

        <caption>{{titre|trans }}</caption>
        <thead>

        <tr>
         
            <th>{{ "user.nom"|trans }}</th>
            <th>{{ "user.prenom"|trans }}</th>
            <th>{{ "user.adresse"|trans }}</th>
            <th>{{ "user.npostal"|trans }}</th>
            <th>{{ "user.localite"|trans }}</th>
            <th>{{'username'|trans}}</th>
            <th>{{'email'|trans}}</th>
            <th>{{'user.type'|trans}}</th>
            <th>{{'user.statut'|trans}}</th>
            <th>Action</th>

        </tr>
                     </thead>
        <tbody>
            {% for usr in users %}
        <tr>
            <td>{{usr.nom}}</td>
            <td>{{usr.prenom}}</td>
            <td>{{usr.adresse}}</td>
            <td>{{usr.npostal}}</td>
            <td>{{usr.localite}}</td>
            <td><span class="badge">{{usr.username}}</span></td>
            <td><span class="badge">{{usr.email}}</span></td>
            <td>
                
                {% if usr.roles[0] == 'ROLE_CLIENT' %}
                    <div class="btn-group">
                    <a class="btn btn-small disabled">{{'client.label'|trans}}</a>
                    <a class="btn btn-primary btn-small" href="{{path('hotel_admin_promote',{'id':usr.id})}}">{{'user.promote'|trans}}</a>
                     </div>  
                    {% elseif usr.roles[0] == 'ROLE_EMPLOYE' %}
                                    <div class="btn-group">

                    <a class="btn btn-small disabled">{{'employe.label'|trans}}</a>
                    <a class="btn btn-warning btn-small" href="{{path('hotel_admin_demote',{'id':usr.id})}}">{{'user.demote'|trans}}</a>
                                         </div>  

                                     
                    {% else %}
                    <a class="btn btn-small disabled">{{'admin.label'|trans}}</a>
                {% endif %}
                   
            </td>
            
            <td>
                {% if usr.roles[0] != 'ROLE_SUPER_ADMIN'  %}
                    {% if usr.enabled %}
                                        <div class="btn-group">

                            <a class="btn btn-small disabled">{{'actif'|trans}}</a> 
                            <a class="btn btn-primary btn-small" href="{{path('hotel_admin_desactiver',{'id': usr.id})}}">{{'user.desactiver'|trans}}</a>
                    
                                        </div>  
                            {% else %}
                             <div class="btn-group">

                            <a class="btn btn-small disabled">{{'inactif'|trans}}</a> 
                            <a class="btn btn-warning btn-small" href="{{path('hotel_admin_activer',{'id': usr.id})}}">{{'user.activer'|trans}}</a> 
                            </div>
                    {% endif %}
                {% else %}
                    <a class="btn btn-small disabled">{{'admin.label'|trans}}</a>
                {% endif %}
            </td>
            
            <td>
                {% if usr.roles[0] != 'ROLE_SUPER_ADMIN' and usr.enabled %}
                    {% autoescape false %}
                        <a class="btn btn-inverse btn-small" href="{{url('hotel_accueil',{'_switch_user': usr.username})}}"> {{'admin.switch'|trans}} {{usr.nom}}</a>
                    {% endautoescape %}
                {% else %}
                        <a class="btn btn-small disabled">~</a>
                {% endif %}
                </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="10" style="background-color:#FF0000">{{"user.aucun" |trans}}</td>

        </tr>
        {% endfor %}
            </tbody>
    </table>
      
  <div class="pagination pagination-centered">
    <ul>
      {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
            {% if nombrePage is defined %}
      {% for p in range(1, nombrePage) %}
        <li{% if p == page %} class="active"{% endif %}>
            {% if all %}
          <a href="{{ path('hotel_admin_lister', {'page': p}) }}">{{ p }}</a>
          {% elseif nombrePage > 1 %}
                    <a href="{{ path('hotel_admin_lister_role', {'role':role,'page': p}) }}">{{ p }}</a>
{% endif %}
        </li>
      {% endfor %}
        {% endif %}
    </ul>
  </div>












































