    {% for flashMessage in app.session.flashbag.get('message') %}
<div>
        {{ flashMessage }}
    </div>
{% endfor %}
<table border="1">
        <caption>{{titre|trans|upper }}</caption>

        <tr>
         
            <th>{{ "user.nom"|trans }}</th>
            <th>{{ "user.prenom"|trans }}</th>
            <th>{{ "user.adresse"|trans }}</th>
            <th>{{ "user.npostal"|trans }}</th>
            <th>{{ "user.localite"|trans }}</th>
            <th>{{'username'|trans}}</th>
            <th>{{'email'|trans}}</th>
            <th>{{'user.type'|trans}}</th>
            <th>{{'user.statut'|trans}}</th>
            <th>Action</th>

        </tr>
            {% for usr in users %}
        <tr>
            <td>{{usr.nom}}</td>
            <td>{{usr.prenom}}</td>
            <td>{{usr.adresse}}</td>
            <td>{{usr.npostal}}</td>
            <td>{{usr.localite}}</td>
            <td>{{usr.username}}</td>
            <td>{{usr.email}}</td>
            <td>
                {% if usr.roles[0] == 'ROLE_CLIENT' %}
                    {{'client.label'|trans}}  | <a href="{{path('hotel_admin_promote',{'id':usr.id})}}">{{'user.promote'|trans}}</a>
                    {% elseif usr.roles[0] == 'ROLE_EMPLOYE' %}
                    {{'employe.label'|trans}}| <a href="{{path('hotel_admin_demote',{'id':usr.id})}}">{{'user.demote'|trans}}</a>
                    {% else %}
                    Admin
                {% endif %}
            </td>
            
            <td>
                {% if usr.roles[0] != 'ROLE_SUPER_ADMIN'  %}
                    {% if usr.enabled %}
                            {{'actif'|trans}} | <a href="{{path('hotel_admin_desactiver',{'id': usr.id})}}">{{'user.desactiver'|trans}}</a>
                    {% else %}
                            {{'inactif'|trans}} | <a href="{{path('hotel_admin_activer',{'id': usr.id})}}">
                            {{'user.activer'|trans}}</a> 
                    {% endif %}
                {% else %}
                            <p>{{'admin.label'|trans}}</p>
                {% endif %}
            </td>
            
            <td>
                {% if usr.roles[0] != 'ROLE_SUPER_ADMIN' and usr.enabled %}
                    {% autoescape false %}
                        <a href="{{url('hotel_accueil',{'_switch_user': usr.username})}}"> {{'admin.switch'|trans}} {{usr.nom}}</a>
                    {% endautoescape %}
                {% else %}
                         <p>~</p>
                {% endif %}
                </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="10" style="background-color:#FF0000">{{"user.aucun" |trans}}</td>

        </tr>
        {% endfor %}
    </table>
  <div class="pagination pagination-centered">
    <ul>
      {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
      {% for p in range(1, nombrePage) %}
        <li{% if p == page %} class="active"{% endif %}>
            {% if all %}
          <a href="{{ path('hotel_admin_lister', {'page': p}) }}">{{ p }}</a>
          {% elseif nombrePage > 1 %}
                    <a href="{{ path('hotel_admin_lister_role', {'role':role,'page': p}) }}">{{ p }}</a>
{% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>












































