{% extends '::layout.html.twig' %}
{% block title %}
{{ "user.liste"|trans }}

{% endblock %}

{% block content %}
{% block javascripts %}
{% endblock %}
<form class="form form-search" id="form_recherche" action= "{{path('hotel_admin_rechercher')}}" method="post">
    <div class="input-append pull-right">   
 {{form_widget(form.motcle)}}
            <input class="btn btn-danger" type="submit" value = "{{"rechercher"|trans}}"/>

        {{ form_rest(form) }} 
        </div>
    </form>

 
    <div id="resultats_recherche">

        {%include 'BittichHotelBundle:Admin:liste_base.html.twig' with {'users': users} %}
    </div>


    <!-- Le script Ajax! -->
    <script>
    $("#form_recherche").submit(function(){ 
    var motcle=$("#rechercheform_motcle").val();
    if(motcle == ''){
      $(".loading").hide();
          
  }else{
      $("#resultats_recherche").hide();
      var DATA = 'motcle=' + motcle;
      jQuery.ajax({
          type: 'POST',
          url: "{{ path('hotel_admin_rechercher')}}",
          data: DATA,
          cache: false,
          success: function(data){
             $('#resultats_recherche').html(data);

             $("#resultats_recherche").show();
          }
      });
  }
  return false;
});
        </script>


{% endblock %}
